<div class="wrapper mx-5 my-4">

    <div class="row justify-content-between ">
        <h2 class="text-dark">Customers List</h2>
        <div class="d-flex">
            <input class="rounded mx-1 border border-primary" type="text" style="width: 400px;" placeholder="Enter customer's name " [(ngModel)]="term">        
           <button class="btn btn-outline-primary">search</button>
        </div>    
    </div>
    <div class="row my-2">
        <button class="btn btn-danger"><a routerLink="/customer/customer-add" style="text-decoration: none; color:white">Add new customer</a></button>    
    </div>
    <div class="row mt-4">
      <table class="table table-bordered">
          <thead class="thead-dark text-center">
            <tr>
              <th>STT</th>
              <th>Name</th>
              <th>Birthday</th>
                      
             
              <th>Phone number</th>
                   
              <th>Address</th>         
              <th>Action</th>
              
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor = "let customer of customers |filter: term | paginate: { itemsPerPage: 5, currentPage: p}">
              <td>{{customers.indexOf(customer)+1}}</td>              
              <td>{{customer.name}}</td>
              <td>{{customer.birthday | date: "dd/MM/yyyy"}}</td>              
              <td>{{customer.phoneNumber}}</td>            
             
              <td>{{customer.address}}</td>
              <td>
                <a class="mx-4"(click)= openDetailDialog(customer)><mat-icon color = "primary">visibility</mat-icon></a>              
                <a [routerLink] = "['/customer/customer-edit/'+ customer.id]" class="mr-4"><mat-icon color = "accent">settings</mat-icon></a>
                <a (click) = "openDialog(customer)" class="mr-4"><mat-icon color = "warn">delete</mat-icon></a>
                  
              </td>
            
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
    </div>
    