<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<h1>Create New Blog</h1>

    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
<a href="/my_blog">Back Home</a><br>
    <a href="/my_blog/show_all">Show All Posts</a>
<form th:action="@{/my_blog/create}" th:object="${new_post}" method="post">
<table>
    <tr>
        <td>Title: </td>
        <td><input type="text" th:field="*{title}"/></td>
    </tr>
    <tr>
        <td >Content: </td>
        <td><textarea rows="20" cols="60" th:field="*{content}"></textarea> </td>
    </tr>
    <tr>
        <td>Create on: </td>
        <td><input type="date" th:field="*{createOn}"></td>
    </tr>
    <tr>
        <td>User: </td>
        <td><input type="text" th:field="*{user_name}"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Create"></td>
    </tr>
</table>
</form>
</body>
<footer th:replace="layout :: footer"></footer>
</html>