<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<a href="/my_blog">Back Home</a>
<p>
    <th:block if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</p>
<h1>Delete blog</h1>
<h2>Are you sure to delete this blog?</h2>
<form th:action ="@{/my_blog/delete_blog/__${blog.id}__}" th:object="${blog}" method="post">
    <table>
        <input th:field="*{id}" th:type="hidden"/>
        <tr>
            <td>Title: </td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><textarea rows="20" cols="60" th:field="*{content}"></textarea> </td>
        </tr>
        <tr>
            <td>Create on: </td>
            <td><input type="date" th:field="*{createOn}"></td>
        </tr>
        <tr>
            <td>User: </td>
            <td><input type="text" th:field="*{user_name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>

</body>
</html>