<div class="wrapper mx-5 my-3">

    <div class="row justify-content-between ">
        <h2 class="text-danger">Detail Contracts List</h2>
        <div class="d-flex">
            <input class="rounded mx-1 border border-primary" type="text" style="width: 400px;" placeholder="Enter facilities' name ">        
           <button class="btn btn-outline-primary">search</button>
        </div>    
    </div>  
    <div class="row mt-4">
        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
    </div>
    
    </div>
    