<div class="wrapper mx-5 my-4">

    <div class="row justify-content-between ">
        <h2 class="text-dark">Facilities List</h2>
        <div class="d-flex">
            <input class="rounded mx-1 border border-primary" type="text" style="width: 400px;" placeholder="Enter facilities' name " [(ngModel)]="term">        
           <button class="btn btn-outline-primary">search</button>
        </div>    
    </div>
    <div class="row my-2">
        <button class="btn btn-danger"><a routerLink="/facilities/facility-add" style="text-decoration: none; color:white">Add new facility</a></button>    
    </div>
    <div class="row mt-4">
        <table class="table table-bordered">
            <thead class="thead-dark text-center">
              <tr>
                <th>STT</th>
                <th>Code</th>               
                <th>Area</th>                
                <th>Max Capacity</th>
                <th>Price</th>
                <th>Facility Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let facility of facilities|filter: term|paginate: { itemsPerPage: 5, currentPage: p }" class="text-center">
                <td>{{facilities.indexOf(facility)+1}}</td>
                <td>{{facility.code}}</td>
                <td>{{facility.area}}</td>
                <td>{{facility.maxCapacity}}</td>
                <td>{{facility.price}}</td>
                <td>{{facility.facilityType}}</td>               
                <td>
                            
            <a [routerLink] = "['/facilities/facility-edit/'+ facility.id]" class="ml-2"><mat-icon color = "accent">settings</mat-icon></a>
              <a (click) = "openDialog(facility)" class="mr-2"><mat-icon color = "primary">delete</mat-icon></a>
                </td>
              </tr>              
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    
    </div>
    