<div class="wrapper mx-5 my-4">
    <h3 class="text-center text-danger">Add Contract Form</h3>
    
    <form class="w-75 mx-auto mt-3">
        <div class="row">
    
            <div class="form-group col-md-6">
                ID <input class="form-control">
               <p *ngIf="false"><small class="text-danger">Please fill in this field</small></p>            
            </div>
    
            <div class="form-group col-md-6" >
                Deposit <input class="form-control">
                <p *ngIf="false"><small class="text-danger">Please fill in this field</small></p>
            </div>       
    
        </div>
        <div class="row">
    
            <div class="form-group col-md-6">
                Start date <input type="date" class="form-control">                  
                   <p *ngIf="false"><small class="text-danger">Please fill in this field</small></p>           
            </div>
    
            <div class="form-group col-md-6" >
                End date <input type="date" class="form-control">
                <p *ngIf="false"><small class="text-danger">Please fill in this field</small></p>
            </div>       
    
        </div>
    
        <div class="row">        
    
            <div class="form-group col-md-6" >
                Facility Code <input class="form-control">
                <p *ngIf="false"><small class="text-danger">Please fill in this field</small></p>
            </div>       
    
            <div class="form-group col-6">
                Customer <input class="form-control" type="email">
                <p *ngIf="false"><small class="text-danger">Please fill in this field</small></p>            
             </div>
    
        </div>    
       
       
        <br><button class="btn btn-danger btn-block">Submit</button>
    </form>
    </div>
    