<div class="wrapper mx-5 my-4">
    <h3 class="text-center text-danger">Add Contract Form</h3>
    
    <form class="w-75 mx-auto mt-3" [formGroup]="addContractForm">     
        <div class="row">
    
            <div class="form-group col-md-6">
                Start date <input type="date" class="form-control" formControlName = "startDate" (change)="retrieveData()">                  
                   <p *ngIf="addContractForm.hasError('date') && addContractForm.get('startDate').touched"><small class="text-danger">Invalid date</small></p> 
                   <p *ngIf="addContractForm.get('startDate').invalid && addContractForm.get('startDate').touched"><small class="text-danger">Please fill in this field</small></p>          
            </div>
    
            <div class="form-group col-md-6" >
                End date <input type="date" class="form-control" formControlName = "endDate" (change)="retrieveData()" >
                <p *ngIf="addContractForm.hasError('date') && addContractForm.get('endDate').touched"><small class="text-danger">Invalid date</small></p>
                <p *ngIf="addContractForm.get('endDate').invalid && addContractForm.get('endDate').touched"><small class="text-danger">Please fill in this field</small></p>
            </div>       
    
        </div>

        <div class="row">
    
            <div class="form-group col-md-6">
                Deposit <input class="form-control" formControlName = "deposit">
               <p *ngIf="addContractForm.get('deposit').invalid && addContractForm.get('deposit').touched"><small class="text-danger">Please fill in this field</small></p>            
            </div>
    
            <div class="form-group col-md-6" >
                Total <input class="form-control" formControlName = "total">
                <p *ngIf="addContractForm.get('total').invalid && addContractForm.get('total').touched"><small class="text-danger">Please fill in this field</small></p>
            </div>       
    
        </div>
    
        <div class="row">        
    
            <div class="form-group col-4">
                Facility type <select class="form-control" formControlName = "facilityType" (change)= "retrieveData()">
                    <option value="" selected>Select facility type</option>
                    <option value="Villa">Villa</option>
                    <option value="House">House</option>
                    <option value="Room">Room</option>
                </select>
                <p *ngIf="addContractForm.get('facilityType').invalid && addContractForm.get('facilityType').touched"><small class="text-danger">Please fill in this field</small></p>           
             </div>      
    
            <div class="form-group col-4">
                Customer <select class="form-control" formControlName = "customer" >
                    <option value="" >Select customer</option>
                    <option *ngFor="let customer of customers" [value]="customer.name">{{customer.name}}</option>
                </select>
                <p *ngIf="addContractForm.get('customer').invalid && addContractForm.get('customer').touched"><small class="text-danger">Please fill in this field</small></p>           
             </div>

             <div class="form-group col-4">
                Employee <select class="form-control" formControlName = "employee" >
                    <option value="" >Select employee</option>
                    <option *ngFor="let employee of employees" [value]="employee.name">{{employee.name}}</option>
                </select>
                <p *ngIf="addContractForm.get('employee').invalid && addContractForm.get('employee').touched"><small class="text-danger">Please fill in this field</small></p>            
             </div>
    
        </div>    
       
       
        <br><button class="btn btn-danger btn-block" (click)="addNewContract()">Submit</button>
    </form>
    </div>
    