<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form th:method="post" th:object="${facility}" th:action="@{/edit}">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="form-group col-md-6">
                Service code <input class="form-control" th:field="*{code}">
            </div>
            <div class="form-group col-md-6" >
                Price <input class="form-control" th:field="*{price}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" >
                Customer type <select class="form-control" th:field="*{facilityType.id}">
                <th:block th:each="facilityType:${facilityTypeList}">
                    <option th:value="${facilityType.id}" th:text="${facilityType.name}"></option>
                </th:block>
            </select>
            </div>
            <div class="form-group col-md-6">
                Email <input class="form-control" th:field="*{maxNumberOfPeople}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                Service code <input class="form-control" th:field="*{area}">
            </div>
            <div class="form-group col-md-6" >
                Price <input class="form-control" th:field="*{floor}">
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Edit</button>
    </form>
</div>

</body>
</html>