
<div class="wrapper mx-5 my-5">
    <h3 class="text-center text-danger mt-3"  >Edit Facility Form</h3>
    
    <form class="w-75 mx-auto mt-5" [formGroup]="editFacilityForm">
        <div class="row">
    
            <div class="form-group col-md-6">
                ID <input class="form-control" formControlName="id">
                <p *ngIf="editFacilityForm.get('id').invalid && editFacilityForm.get('id').touched"><small class="text-danger">Please fill in this field</small></p>           
            </div>
            
    
            <div class="form-group col-md-6"  >
                Code <input class="form-control" formControlName="code">
                <p *ngIf="editFacilityForm.get('code').invalid && editFacilityForm.get('code').touched"><small class="text-danger">Please fill in this field</small></p>
            </div>      
            
              
    
        </div>
        <div class="row">
    
            <div class="form-group col-md-6" >
               Area <input class="form-control" formControlName="area">
               <p *ngIf="editFacilityForm.get('area').invalid && editFacilityForm.get('area').touched"><small class="text-danger">Please fill in this field</small></p>            
            </div>
            
            <div class="form-group col-md-6"  >
                Price <input class="form-control" formControlName="price">
                <p *ngIf="editFacilityForm.get('price').invalid && editFacilityForm.get('price').touched"><small class="text-danger">Please fill in this field</small></p>
            </div>   
           
    
            
        </div>
    
        <div class="row">        
    
            <div class="form-group col-md-6">
                Max capacity <input class="form-control"  formControlName="maxCapacity">
                <p *ngIf="editFacilityForm.get('maxCapacity').invalid && editFacilityForm.get('maxCapacity').touched"><small class="text-danger">Please fill in this field</small></p>
            </div>        
    
            <div class="form-group col-6">
                Facility type <select class="form-control" name="facility" formControlName="facilityType">
                    <option value="Villa">Villa</option>
                    <option value="House">House</option>
                    <option value="Room">Room</option>
                </select>

                <p *ngIf="editFacilityForm.get('facilityType').invalid && editFacilityForm.get('facilityType').touched"><small class="text-danger">Please fill in this field</small></p>   
             </div>
    
        </div>           
      
       
        <br><button [disabled]="editFacilityForm.invalid" class="btn btn-danger btn-block" (click)="editNewFacility()">Submit</button>
    </form>
    </div>
    